body { 
    width: 600px;
    text-align: left;
    font-size:12px;
    font-family:Nunito;
    color:black;
    counter-reset: my-sec-counter 1 section 4;
}

  h1::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "DEL " counter(my-sec-counter, upper-roman);
  }
  h2::before{
      counter-increment: section;
      content: "KAPITEL " counter(section);
  }

    ol {
        list-style: none;
        counter-reset: li;
  }

  li::before {
    counter-increment: li;
    content: counter(section) "." counters(li,".") "  ";
  }